name: Build and Publish ShadowJar Pre-release

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle'

      - name: chmod
        run: chmod +x gradlew

      - name: Validate Gradle wrapper
        uses: gradle/gradle-build-action@v2
        with:
          arguments: help --no-daemon

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: shadowJar --no-daemon

      - name: Pack browser extension
        run: tar -cvf extension.tar extension

      - name: Update dev-build tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          # remove old tag
          git tag -d dev-build || true
          git push origin :refs/tags/dev-build || true
          # pointer tag to new commit
          git tag dev-build
          git push origin dev-build

      - name: Create Pre-release and Upload Asset
        uses: softprops/action-gh-release@v2
        if: success()
        with:
          tag_name: dev-build
          target_commitish: ${{ github.sha }}
          name: CI builds
          body: |
            Automated pre-release build from GitHub Actions.
            
            > **Note:** This release is automatically updated to the latest commit on main.
            
            - **Update Time:** ${{ steps.date.outputs.date }}
            - **Workflow Run:** [${{ github.run_number }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
            - **Commit:** [${{ github.sha }}](${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }})
            - **Branch:** ${{ github.ref_name }}
          draft: false
          prerelease: true
          files: |
            build/libs/*-all.jar
            extension.tar
          generate_release_notes: false
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}